<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>


		<!-- CONFIGURACIÓN (MySQL) -->
		<property name="connection.url">jdbc:mysql://localhost:3306/mbg-hibernate-taller1?createDatabaseIfNotExist=true</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property> 
		<property name="connection.username">root</property> 
		<property name="connection.password">rootroot</property> 
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property> 
		<property name="hibernate.show_sql">false</property> 
		
		
		
		<!-- MAPEOS -->
		<mapping class="com.nttdata.mbg_hibernate_taller1.persistence.NttDataCliente"/>
		<mapping class="com.nttdata.mbg_hibernate_taller1.persistence.NttDataContrato"/>
		
	</session-factory>
</hibernate-configuration>